<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390240542536-38iaqmjccvbljb8f4vo58b01kmv909v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390240542536-38iaqmjccvbljb8f4vo58b01kmv909v9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>390240542536-2pptjeaq5br82mindur1jvjmtthp4o3g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOrQOZK20M8aahE9BR_yg3g-64_Wi-hBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>390240542536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hershel.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-43403</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-43403.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:390240542536:ios:1d33ac5143317f99f09d7d</string>
</dict>
</plist>
